<!DOCTYPE html>
<html>
  <head>
  	
    <title><%= full_title(yield(:title)) %><%=yield(:testTile)%></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <% provide(:testTile,'testTile')%>
  </body>
</html>